li.tight {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: White;
    border-color: White;
}

.navbar-brand a{
    color: #00008B;
    font-weight: bold;
}

.sidebar {
    width:100px;
    display:block;
    float: left;
}

.content {
    width:100px;
    display:block;
    float: right;
}