<div align='center'>
    <font face='microsoft tai le'color='green' size=5>At JobsDB, we believe in an open and inclusive world for all. Here,</font>
</div>
<div align='center'>
    <font face='microsoft tai le'color='green' size=5>opportunities and possibilities are plenty: A fresh start. A new career. A</font>
</div>
<div align='center'>
    <font face='microsoft tai le'color='green' size=5>welcome change. These are just a few of the things we help people explore.</font>
</div> <br><br><br><br>
<div align='left'>
    As a leading job portal with substantial positions <br>
    across China, Hong Kong, Indonesia, Philippines, <br>
    Singapore and Thailand,we are Asia’s preferred <br>
    destination for job seekers. With a team of 1,000 <br>
    talented individuals, we’ve a strong local presence <br>
    in every country we’re in. <br>
</div>
<div align='right'>
    With our understanding and insights on each <br>
    market, as well our passion for technology, <br>
    we provide job seekers the best opportunities <br>
    and deliver exceptional value to employers. <br> <br> <br>
    By really understanding our job seekers and <br>
    employers, we ensure they find what’s right <br>
    for them. After all, we’re not just about filling <br>
    vacancies but fulfilling true potential. <br>
</div>
<div align='left'>
   Since 1998, we’ve refused to slow down or settle. <br>
   In 2011, we became part of the Australian Stock<br>
   Exchange-listed SEEK Limited – the world’s<br>
   largest job portal by market capitalisation. As part <br>
   of the SEEK family, we leverage world-class<br>
   products to match talented job seekers with<br>
   reputable employers across the region.<br><br><br>
   Of course, there’s always more to do. That’s why<br>
   we continue to explore new frontiers across all <br>
   online channels. So we can have the right person<br>
   for the right job.
</div>
