 <table style="word-spacing: normal" ;>
  <tr>
    <th>Indonesia</th>
    <th>Hong Kong</th>
    <th>Thailand</th>
  </tr>
  <tr>
      <td>prudential tower, 18th floor<br>
          jl. jenderal sudirman kav. 79<br>
          jakarta 12910</td>
      <td>11f, guardian house,<br>
          32 oi kwan road,<br>
          wan chai, hong kong</td>
      <td>1 empire tower III, 26th floor,<br>
          Unit 2607-2608,<br>
          south sathorn road, yannawa,<br>
          sathorn bangkok 10120 thailand</td>
  </tr>
  <tr>
    <td>o: 8:00 – 17:00 (Mon – Fri)<br>
        t: +62-21 30028899<br>
        f: +62-2130027788 / +62-2157957733<br>
        e:<a href="mailto:cs@jobsdb.co.id">cs@jobsdb.co.id</a> </td>
    <td>o: 9:00 – 18:00 (Mon – Fri)<br>
        t: +852 2332 8832<br>
        f: +852 2332 2225<br>
        e:<a href="mailto:cs@jobsdb.com">cs@jobsdb.com</a> </td>
    <td>o: 8:30 – 17:30 (Mon – Fri)<br>
        t: +66 2 670 0700<br>
        f: +66 2 670 0711<br>
        e:<a href="mailto:cs@jobsdb.co.th">cs@jobsdb.co.th</a> </td>
    </td>
  </tr>
</table> 